.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.item {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  box-shadow: 0px 0px 3px 1px rgba(222, 222, 222, 0.58);
  cursor: pointer;
}
.disable {
  color: gray;

  pointer-events: none;
  cursor: not-allowed;
}
.active {
  background: lightseagreen;
  color: white;
}
