.box {
  margin: 30px 0;
}
.title {
  margin: 20px 0;
  font-size: 30px;
  text-align: right;
}
.description {
  padding: 5px;
  font-size: 17px;
  text-align: justify;
}
.btn {
  margin: 5px 0;
  padding: 5px 27px;
  font-size: 14px;
  width: 100%;
}
.btnBox {
  margin: 20px 0;
}
.tipBox {
  margin-bottom: 30px;
}
.label {
  margin-left: 10px;
  cursor: pointer;
}
.tip {
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 8px;
}
.tipTitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}
.labelInput {
  cursor: pointer;
  margin-left: 20px;
}
.radioBox {
  margin: 5px 0;
  border-radius: 5px;
}
.input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}
.input:focus {
  outline: none !important;
  border: 2px solid inherit;
}
.inputTitle {
  margin: 10px 0;
  font-size: 15px;
}
.inputSubtitle {
  font-size: 14px;
}
.activeBtn {
  background-color: lightseagreen !important;
}
.btn {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 10px 3px;
  font-size: 14px;
}
.activeBtn:active,
.activeBtn:hover,
.activeBtn:checked,
.activeBtn:visited .activeBtn:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background-color: lightseagreen !important;
}
.errorInput {
  outline: none !important;
  border: 2px solid red;
}
.errorInput:focus {
  outline: none !important;
  border: 2px solid red;
}
.successInput:focus {
  outline: none !important;
  border: 2px solid green;
}

.holiday {
  text-align: center;
  font-size: 18px;
  margin: 20px 0 50px 0;
  color: red;
}
.loading {
  text-align: center;
  font-size: 18px;
  margin: 20px 0 50px 0;
}
.successInput {
  outline: none !important;
  border: 2px solid green;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  text-align: right;
  margin-right: 10px;
}

.redBtn {
  background-color: red !important;
  color: white !important;
}
