.title {
  font-size: 30px;
  text-align: right;
  margin: 30px 0px !important;
}
.box {
  margin-top: 100px !important;
}
.item {
  margin: 20px 0;
}
.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
