.title {
  margin: 30px auto !important;
  font-size: 30px;
  text-align: right;
}
.box {
  margin: 20px auto !important;
  text-align: center;
  display: flow-root !important;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 601px) {
  .title {
    font-size: 30px;
  }
}
