.title {
  margin: 30px auto !important;
  font-size: 30px;
  text-align: right;
  margin-bottom: 60px !important;
}
.result {
  padding: 30px 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-width: 700px;
  background-color: #c20000;
  color: white;
  margin: auto;
  direction: rtl;
}
.span {
  color: #c9c9c9;
  margin-left: 8px;
  font-size: 14px;
}

.item {
  margin: 20px 0;
  text-align: right;
}
.success {
  background-color: #007900;
}
.box {
  margin: 20px auto !important;
  text-align: center;
  display: flow-root !important;
  padding: 0 10px;
  margin-bottom: 120px !important;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 601px) {
  .title {
    font-size: 30px;
  }
}
