.section {
  box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.15) !important;
  margin: 50px 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 30px;
}
.title {
  margin: 20px 0;
  padding: 0 20px;
  font-size: 19px;
}
.detail {
  font-size: 14px;

  padding: 0 20px;
  margin: 20px 0;
}
.description {
  font-size: 16px;
  margin: 20px 0;
  padding: 0 20px;
  text-align: justify;
}
.joinUsSection {
  margin: 50px 0;
  padding: 0;
}
.joinUsTitle {
  padding-right: 20px;
  color: #61dafb;
  margin-bottom: 10px;
  font-size: 20px;
}
.joinUsItem {
  margin-bottom: 5px;
  color: #282c34;
  font-size: 15px;
  padding-right: 30px;
}
.box {
  padding: 0 10px;
}
