.back {
  background: url("/src/assets/images/breadcrumbs.jpg") no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.breadCrumbList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.item {
  margin: 0 5px;
  color: white;
  font-size: 17px;
  text-shadow: 2px 2px 2px black;
}
.active {
  text-shadow: none;
  color: black;
}
