.titleSection {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 30px;
}
.more {
  font-size: 18px;
  color: #1a1a1a;
}
.box {
  margin: 20px 0;
  text-align: center;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .title {
    font-size: 30px;
  }
}
