.card {
  box-shadow: 1px -1px 13px -2px #bdbdbdc7;
  overflow: hidden;

  border-radius: 5px;
  padding-bottom: 20px;
  text-align: center;
  margin: 20px 0;
}
.date {
  font-size: 15px;
  color: #91d0cc;
}
.image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 30px;
}
.title {
  font-size: 18px;
  margin: 20px 0;
  height: 60px;
}
.button {
  background: #91d0cc;
  border: none;
  color: #fff;
  padding: 0 35px;
  height: 35px;
  margin-bottom: 10px;
}
.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 26px; /* fallback */
  max-height: 52px; /* fallback */
}
