.header {
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 1px -1px 13px -2px #bdbdbdc7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImage {
  width: 60px;
  height: 60px;
}
.subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 13px;
  margin-top: -5px;
}
.slider {
  position: fixed;
  right: 0;
  width: 270px;
  bottom: 0;
  background: white;
  /* background: #61dafb;*/
  z-index: 15;
  top: 0;
  color: #000000;
  transition-duration: 300ms;
  box-shadow: -1px 0px 6px 3px #ababab52;
  transform: translateX(280px);
  padding: 20px 10px 0 10px;
}
.show {
  transform: translateX(0px);
}
.over {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 14;
  background: rgba(0, 0, 0, 0.13);
  opacity: 1;
}

.hide {
  opacity: 0;
  display: none !important;
}
.menu {
  position: fixed;
  top: 25px;
  right: 25px;
}

.logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 19px;
}
.item {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: space-between;
  align-items: center;
}
.new {
  background-color: red;
  border-radius: 20px;
  padding: 0 15px;
  margin-left: 5px;
  color: white;
  font-size: 11px;
}
.about {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.aboutItem {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: justify;
  margin-left: 10px;
}
.icon {
  margin-right: 5px;
}
.icons {
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 20px;
}
