.footer {
  background: black;
  color: white;
  padding: 30px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.break {
  width: 100%;
  height: 2px;
  background: white;
  margin: 40px 0;
}
.item {
  font-size: 15px;
  margin-bottom: 20px;
  border-right: 3px solid #7d601e;
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 10px;
}
.footer > span:not(.icon) {
  margin-right: 10px;
}
.name {
  margin: 20px 0;
  font-size: 30px;
}
.icons {
  margin-left: 10px;
  font-size: 20px;
}
