.back {
  background: url("/src/assets/images/texture.png");
  width: 100%;
  position: relative;
  color: white;
}
.box {
  padding: 30px 0 0 0;
  margin-top: 100px;
}
.item {
  z-index: 1;
}
.image {
  background: url("/src/assets/images/person.png") no-repeat;
  height: 650px;
  margin-top: -70px;
  z-index: 2;
}
.back::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #91d0cc;
  opacity: 0.8;
  z-index: 0;
}

.title {
  margin: 30px 0;
  font-size: 35px;
}
.description {
  font-size: 20px;
  padding: 10px 0 50px 0;
}

@media only screen and (max-width: 600px) {
  .image {
    margin-top: 100px;
  }
}
@media screen and (max-width: 991px) and (min-width: 601px) {
  .image {
    margin-top: 100px;
  }
}
