.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px black;
}
.image {
  height: 90vh;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px !important;
  }
  .image {
    height: 40vh;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .title {
    font-size: 35px;
  }
  .image {
    height: 55vh;
  }
}
@media screen and (max-width: 990px) and (min-width: 880px) {
  .title {
    font-size: 45px;
  }
  .image {
    height: 60vh;
  }
}
/*

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {
  ...;
}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {
  ...;
}

!* Large devices (laptops/desktops, 992px and up) *!


!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {
  ...;
}
*/
