*{padding:0;margin:0}a{text-decoration:none!important;color:inherit!important}@font-face{font-family:Iransans;src:url(/static/media/1.ad42a3e7.woff2)}body{font-family:Iransans!important}#root{overflow-x:hidden}.text-right{text-align:right}.main-view{margin-top:70px;display:flex;flex-direction:column}.margin-lr-auto{margin-right:auto!important;margin-left:auto!important}.text-gray{color:#8b8b8b!important}.w-60{width:62.5%!important;margin-left:2.5%}.w-40{width:42.5%!important;margin-right:2.5%}.pointer{cursor:pointer}.App{text-align:center;overflow-x:hidden}.App-logo{height:40vmin;pointer-events:none}@media (prefers-reduced-motion:no-preference){.App-logo{-webkit-animation:App-logo-spin 20s linear infinite;animation:App-logo-spin 20s linear infinite}}.App-header{background-color:#282c34;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;font-size:calc(10px + 2vmin);color:#fff}.App-link{color:#61dafb}@-webkit-keyframes App-logo-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes App-logo-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.Navigation_navigation__2efEu{margin:0;padding:0;background:#fff;width:100%}.Navigation_icon__R2Mf_{margin:0 5px;color:grey;font-size:14px}.Navigation_title__210gz{color:#61dafb}.Header_header__nOMAx{height:70px;width:100%;background:#fff;box-shadow:1px -1px 13px -2px hsla(0,0%,74.1%,.7803921568627451);position:fixed;top:0;left:0;right:0;z-index:7}.Header_header__nOMAx,.Header_img__3WiQ2{display:flex;justify-content:center;align-items:center}.Header_logoImage__2U5D1{width:60px;height:60px}.Header_subtitle__355ai{text-align:center;margin-bottom:20px;font-size:13px;margin-top:-5px}.Header_slider__1bvzT{position:fixed;right:0;width:270px;bottom:0;background:#fff;z-index:15;top:0;color:#000;transition-duration:.3s;box-shadow:-1px 0 6px 3px hsla(0,0%,67.1%,.3215686274509804);-webkit-transform:translateX(280px);transform:translateX(280px);padding:20px 10px 0}.Header_show__zP9aV{-webkit-transform:translateX(0);transform:translateX(0)}.Header_over__30nVX{position:fixed;left:0;right:0;top:0;bottom:0;z-index:14;background:rgba(0,0,0,.13);opacity:1}.Header_hide__2P7WE{opacity:0;display:none!important}.Header_menu__3hHGR{position:fixed;top:25px;right:25px}.Header_logo__24xTz{text-align:center;margin-top:10px;margin-bottom:10px;font-size:19px}.Header_item__3HJhw{margin-bottom:10px;font-size:16px;display:flex;width:100%;height:25px;justify-content:space-between;align-items:center}.Header_new__2CdUR{background-color:red;border-radius:20px;padding:0 15px;margin-left:5px;color:#fff;font-size:11px}.Header_about__10Yg3{position:absolute;bottom:20px;right:10px}.Header_aboutItem__R5fig{margin-bottom:10px;font-size:15px;text-align:justify;margin-left:10px}.Header_icon__1RpiW{margin-right:5px}.Header_icons__1iQRN{font-size:17px;margin-left:10px;margin-bottom:20px}.Fotter_footer__1UFx0{background:#000;color:#fff;padding:30px 0;margin:0;display:flex;flex-direction:column;justify-content:center}.Fotter_break__7BTzC{width:100%;height:2px;background:#fff;margin:40px 0}.Fotter_item__wQpZE{font-size:15px;margin-bottom:20px;border-right:3px solid #7d601e;display:flex;align-items:center}.Fotter_footer__1UFx0>span:not(.Fotter_icon__1Ip_B),.Fotter_icon__1Ip_B{margin-right:10px}.Fotter_name__3LTow{margin:20px 0;font-size:30px}.Fotter_icons__1a-fX{margin-left:10px;font-size:20px}.Loading_loading__2Lyhi{display:flex;justify-content:center;align-items:center;height:100vh}.Loading_loading__2Lyhi img{max-width:200px}.SwiperComponent_title__NxZ5M{position:absolute;top:0;left:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center;font-size:60px;color:#fff;text-shadow:2px 2px #000}.SwiperComponent_image__2M7T4{height:90vh;width:100%}@media only screen and (max-width:600px){.SwiperComponent_title__NxZ5M{font-size:30px!important}.SwiperComponent_image__2M7T4{height:40vh}}@media screen and (max-width:900px) and (min-width:600px){.SwiperComponent_title__NxZ5M{font-size:35px}.SwiperComponent_image__2M7T4{height:55vh}}@media screen and (max-width:990px) and (min-width:880px){.SwiperComponent_title__NxZ5M{font-size:45px}.SwiperComponent_image__2M7T4{height:60vh}}
/*

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {
  ...;
}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {
  ...;
}

!* Large devices (laptops/desktops, 992px and up) *!


!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {
  ...;
}
*/.ServiceItem_item__mqXb8{text-align:center;margin:20px 0}.ServiceItem_image__1_B1x{width:200px;height:200px;border-radius:50%;margin-bottom:20px}.ServiceComponentBox_titleSection__3lFo8{margin:30px 0!important;display:flex;justify-content:space-between;align-items:center}.ServiceComponentBox_title__3_5Um{font-size:30px}.ServiceComponentBox_more__1gDqz{font-size:18px;color:#1a1a1a}.ServiceComponentBox_box__5QsIg{margin:20px 0;text-align:center;padding:0 10px}@media only screen and (max-width:600px){.ServiceComponentBox_title__3_5Um{font-size:25px!important}}@media screen and (max-width:991px) and (min-width:601px){.ServiceComponentBox_title__3_5Um{font-size:30px}}.ServiceSwiperComponent_title__7tBa7{position:absolute;top:0;left:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center;font-size:60px;color:#fff;text-shadow:2px 2px #000}.ServiceSwiperComponent_image__2ghnF{height:90vh;width:100%}@media only screen and (max-width:600px){.ServiceSwiperComponent_title__7tBa7{font-size:30px!important}.ServiceSwiperComponent_image__2ghnF{height:40vh}}@media screen and (max-width:900px) and (min-width:600px){.ServiceSwiperComponent_title__7tBa7{font-size:35px}.ServiceSwiperComponent_image__2ghnF{height:55vh}}@media screen and (max-width:990px) and (min-width:880px){.ServiceSwiperComponent_title__7tBa7{font-size:45px}.ServiceSwiperComponent_image__2ghnF{height:60vh}}
/*

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {
  ...;
}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {
  ...;
}

!* Large devices (laptops/desktops, 992px and up) *!


!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {
  ...;
}
*/.BlogItem_card__3thVz{box-shadow:1px -1px 13px -2px hsla(0,0%,74.1%,.7803921568627451);overflow:hidden;border-radius:5px;padding-bottom:20px;text-align:center;margin:20px 0}.BlogItem_date__3BYL7{font-size:15px;color:#91d0cc}.BlogItem_image__34_Tz{width:100%;height:170px;object-fit:cover;margin-bottom:30px}.BlogItem_title__1ajm8{font-size:18px;margin:20px 0;height:60px}.BlogItem_button__W2jXo{background:#91d0cc;border:none;color:#fff;padding:0 35px;height:35px;margin-bottom:10px}.BlogItem_giveMeEllipsis__3MQcB{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;line-height:26px;max-height:52px}.BlogComponentBox_titleSection__1tapr{margin:30px 0;display:flex;justify-content:space-between;align-items:center}.BlogComponentBox_title__euPfN{font-size:30px}.BlogComponentBox_more__1y-Fz{font-size:18px;color:#1a1a1a}.BlogComponentBox_box__NWcmK{margin:20px 0;text-align:center;padding:0 10px}@media only screen and (max-width:600px){.BlogComponentBox_title__euPfN{font-size:25px!important}}@media screen and (max-width:900px) and (min-width:600px){.BlogComponentBox_title__euPfN{font-size:30px}}.BlogSwiperComponent_title__2zyRt{position:absolute;top:0;left:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center;font-size:60px;color:#fff;text-shadow:2px 2px #000}.BlogSwiperComponent_image__2YsAu{height:90vh;width:100%}@media only screen and (max-width:600px){.BlogSwiperComponent_title__2zyRt{font-size:30px!important}.BlogSwiperComponent_image__2YsAu{height:40vh}}@media screen and (max-width:900px) and (min-width:600px){.BlogSwiperComponent_title__2zyRt{font-size:35px}.BlogSwiperComponent_image__2YsAu{height:55vh}}@media screen and (max-width:990px) and (min-width:880px){.BlogSwiperComponent_title__2zyRt{font-size:45px}.BlogSwiperComponent_image__2YsAu{height:60vh}}
/*

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {
  ...;
}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {
  ...;
}

!* Large devices (laptops/desktops, 992px and up) *!


!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {
  ...;
}
*/.AboutComponentBox_back__35T3S{background:url(/static/media/texture.f37098f7.png);width:100%;position:relative;color:#fff}.AboutComponentBox_box__tLcX5{padding:30px 0 0;margin-top:100px}.AboutComponentBox_item__3re5i{z-index:1}.AboutComponentBox_image__1HKRY{background:url(/static/media/person.75d14ec8.png) no-repeat;height:650px;margin-top:-70px;z-index:2}.AboutComponentBox_back__35T3S:before{content:"";position:absolute;top:0;bottom:0;left:0;right:0;background:#91d0cc;opacity:.8;z-index:0}.AboutComponentBox_title__1FhN7{margin:30px 0;font-size:35px}.AboutComponentBox_description__32APS{font-size:20px;padding:10px 0 50px}@media only screen and (max-width:600px){.AboutComponentBox_image__1HKRY{margin-top:100px}}@media screen and (max-width:991px) and (min-width:601px){.AboutComponentBox_image__1HKRY{margin-top:100px}}.BlogPage_title__cBYEy{margin:30px auto!important;font-size:30px;text-align:right}.BlogPage_box__fa52S{margin:20px auto!important;text-align:center;display:flow-root!important;padding:0 10px}@media only screen and (max-width:600px){.BlogPage_title__cBYEy{font-size:25px!important}}@media screen and (max-width:991px) and (min-width:601px){.BlogPage_title__cBYEy{font-size:30px}}.Pagination_pagination__3gbAa{margin:30px 0}.Pagination_item__3LaH6,.Pagination_pagination__3gbAa{display:flex;justify-content:center;align-items:center}.Pagination_item__3LaH6{width:30px;height:30px;border-radius:5px;margin:0 3px;background:#e0e0e0;box-shadow:0 0 3px 1px hsla(0,0%,87.1%,.58);cursor:pointer}.Pagination_disable__18cge{color:grey;pointer-events:none;cursor:not-allowed}.Pagination_active__1fA7w{background:#20b2aa;color:#fff}.ServicePage_title__2CnvK{margin:30px auto!important;font-size:30px;text-align:right}.ServicePage_box__IXsPd{margin:20px auto!important;text-align:center;display:flow-root!important;padding:0 10px}@media only screen and (max-width:600px){.ServicePage_title__2CnvK{font-size:25px!important}}@media screen and (max-width:991px) and (min-width:601px){.ServicePage_title__2CnvK{font-size:30px}}.BreadCrumb_back__1XTl4{background:url(/static/media/breadcrumbs.6a07ae90.jpg) no-repeat;background-size:cover;height:250px;flex-direction:column}.BreadCrumb_back__1XTl4,.BreadCrumb_breadCrumbList__Lm2sg{display:flex;justify-content:center;align-items:center}.BreadCrumb_title__20WN_{font-size:20px;font-weight:600;margin-bottom:10px}.BreadCrumb_item__3Yt0L{margin:0 5px;color:#fff;font-size:17px;text-shadow:2px 2px 2px #000}.BreadCrumb_active__3VnFg{text-shadow:none;color:#000}.DetailPage_section__DumrP{box-shadow:0 0 9px -1px rgba(0,0,0,.15)!important;margin:50px 0;padding:0;border-radius:5px;overflow:hidden}.DetailPage_image__2s2Il{width:100%;height:300px;object-fit:cover;margin-bottom:30px}.DetailPage_title__1MySf{margin:20px 0;padding:0 20px;font-size:19px}.DetailPage_detail__1oOQU{font-size:14px;padding:0 20px;margin:20px 0}.DetailPage_description__1e5dm{font-size:16px;margin:20px 0;padding:0 20px;text-align:justify}.DetailPage_joinUsSection__1C2iv{margin:50px 0;padding:0}.DetailPage_joinUsTitle__2JGwf{padding-right:20px;color:#61dafb;margin-bottom:10px;font-size:20px}.DetailPage_joinUsItem__21VdE{margin-bottom:5px;color:#282c34;font-size:15px;padding-right:30px}.DetailPage_box__2U0Ju{padding:0 10px}.GalleryPage_title__29N-N{font-size:30px;text-align:right;margin:30px 0!important}.GalleryPage_box__-P6SG{margin-top:100px!important}.GalleryPage_item__2OkwG{margin:20px 0}.GalleryPage_image__AdnBf{width:100%;height:200px;object-fit:cover}.AboutusPage_box__123gZ{margin:30px 0}.AboutusPage_title__vHFUK{margin:20px 0;font-size:30px;text-align:right}.AboutusPage_description__3Jx39{padding:5px;font-size:17px;text-align:justify}.AppointmentPage_box__2tsJ2{margin:30px 0}.AppointmentPage_title__3Cnk3{margin:20px 0;font-size:30px;text-align:right}.AppointmentPage_description__1AC5e{padding:5px;font-size:17px;text-align:justify}.AppointmentPage_btn__1alJv{margin:5px 0;padding:5px 27px;width:100%}.AppointmentPage_btnBox__3M7X1{margin:20px 0}.AppointmentPage_tipBox__3zUnc{margin-bottom:30px}.AppointmentPage_label__2lv1r{margin-left:10px;cursor:pointer}.AppointmentPage_tip__2CE3S{font-size:15px;margin-bottom:10px;margin-right:8px}.AppointmentPage_tipTitle__150Xq{font-size:17px;font-weight:600;margin-bottom:20px}.AppointmentPage_labelInput__1SZto{cursor:pointer;margin-left:20px}.AppointmentPage_radioBox__1RUNa{margin:5px 0;border-radius:5px}.AppointmentPage_input__IfGac{width:100%;height:40px;padding:0 10px;border-radius:5px}.AppointmentPage_input__IfGac:focus{outline:none!important;border:2px solid inherit}.AppointmentPage_inputTitle__3LrM-{margin:10px 0;font-size:15px}.AppointmentPage_inputSubtitle__36wAi{font-size:14px}.AppointmentPage_activeBtn__1vm7W{background-color:#20b2aa!important}.AppointmentPage_btn__1alJv{outline:none!important;box-shadow:none!important;border:none!important;padding:10px 3px;font-size:14px}.AppointmentPage_activeBtn__1vm7W:active,.AppointmentPage_activeBtn__1vm7W:checked,.AppointmentPage_activeBtn__1vm7W:hover,.AppointmentPage_activeBtn__1vm7W:visited .AppointmentPage_activeBtn__1vm7W:focus{box-shadow:none!important;outline:none!important;border:none!important;background-color:#20b2aa!important}.AppointmentPage_errorInput__3duYT,.AppointmentPage_errorInput__3duYT:focus{outline:none!important;border:2px solid red}.AppointmentPage_successInput__bq62b:focus{outline:none!important;border:2px solid green}.AppointmentPage_holiday__1A37S{color:red}.AppointmentPage_holiday__1A37S,.AppointmentPage_loading__2A0gd{text-align:center;font-size:18px;margin:20px 0 50px}.AppointmentPage_successInput__bq62b{outline:none!important;border:2px solid green}.AppointmentPage_error__3hNgR{color:red;font-size:13px;margin-top:5px;text-align:right;margin-right:10px}.AppointmentPage_redBtn__xaAIG{background-color:red!important;color:#fff!important}.react-calendar{width:700px;max-width:100%;background:#fff;border:1px solid #a0a096;border-radius:5px;line-height:1.125em;padding:5px;margin:20px 0;font-family:Iransans}.calendarContainer{text-align:center}.calendarContainer *{box-sizing:border-box}.calendarContainer .dayPickerContainer:after,.calendarContainer .daysOfWeek:after,.calendarContainer .monthsList:after{content:"";display:block;clear:both}.calendarContainer .heading{height:42px;font-weight:700;margin-bottom:10px}.calendarContainer .heading>button{border-radius:3px;background:none;margin:5px 0;border:1px solid #f7f7f7;text-align:center;line-height:30px;width:36px;height:32px;cursor:pointer}.calendarContainer .heading>button:hover{background-color:#f2f2f2}.calendarContainer .heading>span{line-height:35px}.calendarContainer .heading svg{width:10px}.calendarContainer .heading .prev{float:right}.calendarContainer .heading .next{float:left}.calendarContainer .heading .title{line-height:32px;width:120px;height:32px;font-size:1em;margin:5px 0;border:1px solid #f7f7f7;text-align:center;display:inline-block;font-weight:400}.calendarContainer .dayWrapper{padding:5px;float:right;width:14.28571429%}.calendarContainer .dayWrapper button{border:none;background:none;outline:none;width:100%;height:36px;border-radius:3px;cursor:pointer}.calendarContainer .dayWrapper button:hover{background-color:#eef}.calendarContainer .dayWrapper button[disabled]{color:#aaa;cursor:not-allowed;background-color:#ebebeb}.calendarContainer .dayWrapper button.selected{background-color:#337ab7;color:#fff}.calendarContainer .dayWrapper:not(.currentMonth) button{opacity:.5}.calendarContainer .daysOfWeek{border-bottom:1px solid #eee;margin-bottom:5px;padding-bottom:5px;display:flex;width:100%}.calendarContainer .daysOfWeek>div{flex-grow:1;justify-content:space-between}.calendarContainer .monthsList{clear:both;width:100%}.calendarContainer .monthsList button{width:33.33333332%;height:25%;float:right;border:1px solid #f9f9f9;outline:none;font-size:1em;background:#fff;padding:10px 0;cursor:pointer}.calendarContainer .monthsList button:hover{background:#eee;cursor:pointer}.calendarContainer .selected button,.calendarContainer .selected button:active,.calendarContainer .selected button:focus,.calendarContainer .selected button:hover{background-color:#337ab7;color:#fff}.calender-view{margin:30px 0}.react-calendar__month-view__days__day--weekend{color:#000}abbr[title]{text-decoration:none}.CustomModal_item__3idKf{display:flex;justify-content:space-between;direction:rtl;margin-bottom:15px;text-align:right}.CustomModal_span__3GuY1{padding-left:15px;font-size:14px;color:#4c4c4c}.LoginPage_comingSoon__1bNNW{display:flex;justify-content:center;align-items:center;height:70vh;font-size:25px}.ResultPage_title__1jft5{font-size:30px;text-align:right;margin:30px auto 60px!important}.ResultPage_result__2rfUY{padding:30px 10px;border:1px solid #d3d3d3;border-radius:5px;max-width:700px;background-color:#c20000;color:#fff;margin:auto;direction:rtl}.ResultPage_span__3DeoE{color:#c9c9c9;margin-left:8px;font-size:14px}.ResultPage_item__1OMbu{margin:20px 0;text-align:right}.ResultPage_success__TahoM{background-color:#007900}.ResultPage_box__2qjJc{text-align:center;display:flow-root!important;padding:0 10px;margin:20px auto 120px!important}@media only screen and (max-width:600px){.ResultPage_title__1jft5{font-size:25px!important}}@media screen and (max-width:991px) and (min-width:601px){.ResultPage_title__1jft5{font-size:30px}}
/*# sourceMappingURL=main.5240d758.chunk.css.map */