* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
@font-face {
  font-family: Iransans;

  src: url("../src/assets/fonts/1.woff2");
}
body {
  font-family: Iransans !important;
}
#root {
  overflow-x: hidden;
}
.text-right {
  text-align: right;
}
.main-view {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.margin-lr-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.text-gray {
  color: #8b8b8b !important;
}
.w-60 {
  width: 62.5% !important;
  margin-left: 2.5%;
}
.w-40 {
  width: 42.5% !important;
  margin-right: 2.5%;
}
.pointer {
  cursor: pointer;
}
